
.gift-item {
    box-sizing: border-box;
    overflow: hidden;
}

.gift-img {
    float: left;
    width: 150px;
    height: 150px;
}

.gift-img img {
    width:100%;
    height:100%;
    object-fit: contain;
    overflow: hidden;
}

.gift-infos {
    display: inline-block;
    width: calc(80% - 150px);
    margin: 0;
    padding-left: 10px;
}

.gift-actions {
    float: right;
    padding: 10px;
    width: 20%;
}

.gift-actions a {
    display: block;
    height: 40px;
    margin: 2px;
    padding: 2px;
}

.icon-sm
{
    width: 20px;
    height: 20px;
}
