
#gift-item {
    box-sizing: border-box;
    padding: 10px;
}

.gift-img {
    display: inline-block;
    height: 100px;
}

.gift-infos {
    display: inline-block;
}

.gift-actions {
    float: right;
}
