<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/general.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
        {% block title %}<title>Sand'wish</title>{% endblock %}
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        {% load widget_tweaks %}
    </head>
    <body>
        {% include "sandwish_app/header.html" %}
        <div class="bg-image" style="background-image: url({% static 'images/logo-grey.png' %})"></div>
        <section class="container">
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
