<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#contributors">Show contributors</button>
<div id="contributors" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contributors for {{ gift.0 }}</h4>
            </div>
            <div class="modal-body">
                <ul>
                    {% for contributor in gift.4 %}
                        <li>{{ contributor }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
