{% extends "sandwish_app/base_generic.html" %}

{% block content %}

    <div class="border rounded mt-2 p-3 bg-white">
        <h1>Validate a gift !</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="alert alert-danger">
                Are you sure you want to validate  "{{ object }}"? <br>
                This operation cannot be cancelled !
            </div>
            <a href="{% url 'wishlist' username=wishlists_owner.username pk=wishlist.id %}" class="btn btn-danger">Cancel</a>
            <input class="btn btn-success" type="submit" value="Confirm" />
        </form>
    </div>

{% endblock %}
