{% extends "sandwish_app/base_generic.html" %}

{% block content %}
    <div class="row justify-content-center mt-2 px-2 px-md-0">
        <div class="border rounded col-lg-6 col-md-8 col-sm-12 p-3 bg-white">
            <h1>Create a gift</h1>
            <form class="mt-4" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <a href="{% url 'wishlist' username=wishlists_owner.username pk=wishlist.id %}" class="btn btn-danger">Cancel</a>
                <input class="btn btn-success" type="submit" value="Create gift" />
            </form>
        </div>
    </div>
{% endblock %}
