{% extends "sandwish_app/base_generic.html" %}

{% block content %}
    <!-- Profile's header -->
    <div class="mt-2">

        {% if user.is_authenticated %}
            {% if is_profiles_owner %}
                <h1 class="mt-4">Your wishlists</h1>
                {% include "sandwish_app/wishlist_form.html" %}
                </div>
            {% else %}
                <h1 class="mt-4">{{ profiles_owner.get_username }}'s wishlists</h1>
                </div>
            {% endif %}
        {% else %}
            <h1 class="mt-4">{{ profiles_owner.get_username }}'s wishlists</h1>
        {% endif %}
    <hr>

    <!-- Display the wishlists -->
    <div class="row px-3 mt-3">
        {% for w in wishlists %}
            <div class="col-md-6 p-1">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ w.title }}</h3>
                        <p class="card-text">{{ w.description }}</p>
                        <a class="btn btn-primary" href="{% url 'wishlist' username=profiles_owner.username pk=w.id %}">
                            Show the wishlist
                        </a>
                        {% if is_profiles_owner %}
                            <a href="{% url 'wishlist-delete' username=w.fk_user.username pk=w.id %}" class="btn btn-danger">x</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
