{% extends "sandwish_app/base_generic.html" %}

{% block content %}
    {% include "sandwish_app/header.html" %}
    
    <div>Profile</div>
    {% if user.is_authenticated %}
        User: {{ user.get_username }}

        <table>
            {% for w in wishlists %}
                <tr>
                    <td>
                        <a href="{% url 'wishlist' username=user.username pk=w.id %}">
                            {{ w.title }}
                        </a>
                    </td>
                    <td>{{ w.description }}</td>
                    <td>{{ w.id }}</td>
                </tr>
            {% endfor %}
        </table>

        {% if is_profiles_owner %}
            <a onclick="toggleFormDisplay()" class="btn btn-success btn-sm">Create a wishlist</a>
            <form id="wishlist_creation_form" action="" method="post" style="display: none;">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Ajouter" />
            </form>
        {% endif %}

        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <script>
        let toggleFormDisplay = () => {
            let wishlist_creation_form = document.getElementById("wishlist_creation_form");
            wishlist_creation_form.style.display = wishlist_creation_form.style.display == "none" ? "block" : "none";
        };
    </script>
{% endblock %}
