{% extends "sandwish_app/base_generic.html" %}

{% block content %}
    <h1>{{ user.get_username }}</h1>


    {% if user.is_authenticated %}
        {% if is_profiles_owner %}
            <div class="row p-2">
                <button onclick="toggleFormDisplay()" class="btn btn-success" >Create a wishlist</button>
                <form id="wishlist_creation_form" action="" method="post" style="display: none;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Ajouter" />
                </form>
            </div>
        {% endif %}
    {% endif %}

    <div class="row p-1">
        {% for w in wishlists %}
        <div class="col-md-6 p-1">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ w.title }}</h3>
                    <p class="card-text">{{ w.description }}</p>
                    <a class="btn btn-primary" href="{% url 'wishlist' username=user.username pk=w.id %}">
                        Show the wishlist
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        let toggleFormDisplay = () => {
            let wishlist_creation_form = document.getElementById("wishlist_creation_form");
            wishlist_creation_form.style.display = wishlist_creation_form.style.display == "none" ? "block" : "none";
        };
    </script>
{% endblock %}
