

{% load static %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'scripts/searchbar.js' %}"></script>


<form class="col-12" id="search-form" method="post" action="{% url 'search' %}" onsubmit="search('{{ csrf_token }}')">
    {% csrf_token %}
    <div class="input-group mr-3">
        <input type="search" class="form-control form-control-lg" id="search-field" value="{{ search }}" pattern="^[\w-]+$" placeholder="Search username...">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary" id="search-btn" onclick="searchBtnClick('{{ csrf_token }}')">
                <img class="icon-md" src="{% static 'icons/search-icon.png' %}" />
            </button>
        </div>
    </div>
</form>
