{% extends "sandwish_app/base_generic.html" %}

{% block content %}

    <h1>{{ wishlist.title }}</h1>
    <p>{{ wishlists_owner.username }}<p>
    <p>{{ wishlist.description }}</p>

    <a href="{% url 'profile' wishlists_owner.username %}" class="btn btn-info">Get back to {{ wishlists_owner.username }}'s profile</a>

    {% if is_wishlists_owner %}
        <a href="{% url 'gift-create' wishlists_owner.username wishlist.id %}" class="btn btn-success">Ajouter un nouveau cadeau</a>
        <a href="{% url 'wishlist-delete' wishlist.id %}" class="btn btn-danger">Supprimer la wishlist</a>
    {% endif %}

    {% for gift in gifts %}
        {% if gift.validated %}
        <div class="gift-item border my-2 alert-success">
        {% else %}
        <div class="gift-item border my-2 ">
        {% endif %}
            <img class="gift-img" src="{{ gift.image }}" />
            <div class="gift-infos">
                <a href="" >
                    <h4>
                        {{ gift.name }}
                    </h4>
                </a>
                <div class="">
                    {{ gift.price }}
                </div>
            </div>


        {% if is_wishlists_owner %}
            <div class="gift-actions">
                {% if gift.link != Null %}
                    <a href="{{ gift.link }}" target="_blank" class="btn btn-info">Lien</a>
                {% endif %}
                {% if not gift.validated %}
                    <a href="" class="btn btn-primary">Valider</a>
                {% endif %}
                <a href="{% url 'gift-delete' gift.id %}" class="btn btn-danger">Supprimer</a>
            </div>
        {% endif %}
        </div>
    {% endfor %}

{% endblock %}
